.tagsCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 30%;
    margin: 1% !important;
    background-color:  rgba(0, 0, 0, 0.08)  !important;
    cursor: pointer;
}

.selectedTagsCard {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.tagName {
    font-size: x-large;
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
}

@media screen and (max-width: 641px) {
    .tagsCard {
        height: 50px;
        width: 40%;
        margin: 2% !important;
    }

    .tagName {
        font-size: small;
    }

    .tagTickIcon {
        margin-left: 10px;
    }
}